
@use "./variable.scss";
@use "./components/buttons.scss";
@use "./main.css";


.p-password.p-password-full {
  width: 100% !important;
  display: flex;
}

.p-password.p-password-full input {
  width: 100% !important;
  flex: 1;
}